@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,900;1,300&display=swap');

.header-wrapper .title a, .header-wrapper .header-right-wrap .nav .nav-item a, h1, h2, h3, h4, h5, h6, .vuepress-blog-theme-content {
  font-family: 'Montserrat', sans-serif !important;
  // font-weight: 900 !important;
}

.header-wrapper .title, .header-wrapper .title a {
  text-transform: none
  color: #f9f9fa !important
}

body, .ui-post-title {
  font-family: 'Montserrat', sans-serif !important;
}

body{
  background-color: #31354c
}

#header {
  background-color: #212438
}

body,
.ui-post-summary  {
  color: #f9f9fa !important
}

.nav-link, .nav-link:visited, .nav-link:hover {
  color: #f9f9fa
}

.nav-link:active {
  color: $accentColor
}

.ui-post-title a, .post-title {
  color: #c21c8c !important
  font-weight: 900
}

.post-meta, .ui-post-author,
.ui-post-date,
.ui-post-tag {
  color: #26a9e0 !important
}

.vuepress-blog-theme-content {
  background-color: #212438 !important
  padding: 1px 30px
  color: inherit !important
}

.vssue {
  color: inherit !important
}

a::after {
  background-color: #212438 !important
}

.blog-tag {
  color: #c21c8c !important
  border: 1px solid #c21c8c !important
}

.footer {
  background-color: #212438 !important
}