$orange = #faad34
$turquoise = #53c1bc
$pink = #c21c8c
$blue = #26a9e0
$brown = #564538
$purple = #212438
$lighterPurple = #31354c
$skyBlue = #38e3ff
$white = #fff
$lightGray = #d4d4d4

$backgroundColor = $purple
$lightBackgroundColor = $lighterPurple
$textColor = $white
$grayTextColor = $lightGray
$accentColor = $blue
$navbarColor = $lightBackgroundColor
$headerColor = $lightBackgroundColor
